<nav class="navbar navbar-expand-md navbar-light bg-light">

  <button *ngIf="currentUser" class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="currentUser" [ngbCollapse]="collapsed" class="navbar-collapse collapse w-100 order-1 order-md-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('tickets')">Tickets</a>
      </li>
      <li class="nav-item">
        <a *ngIf="currentUser.isAdmin()" class="nav-link" (click)="navigate('users')">Users</a>
      </li>
    </ul>
  </div>

  <div class="mx-auto order-0">
    <label class="navbar-brand mx-auto" (click)="navigate('')">TechOps Work Requests</label>
  </div>

  <div *ngIf="currentUser" [ngbCollapse]="collapsed" class="navbar-collapse collapse w-100 order-2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('profile')">{{currentUser.firstName}}'s Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>

</nav>
