<app-tickets-table *ngIf="currentUser.isRegular()" [tickets]="ticketsSubmitted"></app-tickets-table>

<ngb-tabset *ngIf="!currentUser.isRegular()" [activeId]="currentUser.isTechnician() ? 'assigned' : 'all'">
  <ngb-tab id="all" title="All">
    <ng-template ngbTabContent>
      <app-tickets-table [tickets]="ticketsAll"></app-tickets-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="assigned" title="Assigned">
    <ng-template ngbTabContent>
      <app-tickets-table [tickets]="ticketsAssigned"></app-tickets-table>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="submitted" title="Submitted">
    <ng-template ngbTabContent>
      <app-tickets-table [tickets]="ticketsSubmitted"></app-tickets-table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
