<p *ngIf="! user; else hasUser" class="mt-3">
  Fetching user ...
</p>

<ng-template #hasUser>
  <p class="text-right mt-3">
    <button type="button" *ngIf="!editable" (click)="editable = true" class="btn btn-primary">Edit User</button>
  </p>

  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-row m-3">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input [(ngModel)]="user.name" [disabled]="!editable" name="name" type="text"
          class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input [(ngModel)]="user.email" [disabled]="!editable" name="email" type="email"
          class="form-control" required>
      </div>
      <div class="form-group col-md-6">
        <label>Phone (Optional)</label>
        <input [(ngModel)]="user.phone" [disabled]="!editable" name="phone" type="phone"
          class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Department</label>
        <select [(ngModel)]="user.department" [disabled]="!editable" name="department"
          class="form-control" required>
          <option *ngFor="let department of departments">{{department}}</option>
        </select>
      </div>
      <div class="form-group col-md-3 col-lg-6">
        <label>Username</label>
        <input [(ngModel)]="user.username" [disabled]="!editable" name="username" type="text"
          class="form-control" required>
      </div>
      <div class="form-group col-md-9 col-lg-6">
        <label>Roles and Options</label>
        <div>
          <div class="form-check form-check-inline">
            <label class="form-check-label m-2">Local</label>
            <input [(ngModel)]="user.local" [disabled]="!editable" name="local" type="checkbox"
              class="form-check-input">
          </div>
          <div *ngFor="let role of roles" class="form-check form-check-inline">
            <label class="form-check-label m-2">{{role}}</label>
            <input [(checklist)]="user.roles" [checklistValue]="role" [disabled]="!editable"
              type="checkbox" class="form-check-input">
          </div>
        </div>
      </div>
      <div *ngIf="user.local" class="form-group col-md-6">
        <label>Password</label>
        <input [(ngModel)]="user.password" [disabled]="!editable" name="password" type="password"
          class="form-control">
        <small *ngIf="editable" class="form-text text-muted">
          Leave the password field empty to keep the current password
        </small>
      </div>
      <div *ngIf="user.local" class="form-group col-md-6">
        <label>Confirm Password</label>
        <input [(ngModel)]="user.password2" [disabled]="!editable" name="password2"
          type="password" class="form-control">
      </div>
    </div>
    <div class="form-row m-3">
      <a *ngIf="editable" routerLink="/users" class="btn btn-secondary">Cancel</a>
      <button *ngIf="editable" [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary mx-3">Save</button>
    </div>
  </form>
</ng-template>

<p calss="mt-3">
  <a routerLink="/users">Back to Users</a>
</p>
