<div class="container">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <footer class="text-muted text-center p-3 bg-light">
        <div class="d-md-none ">Copyright &copy; 2016-2018, CSULA</div>
        <div class="d-none d-md-block ">Copyright &copy; 2016-2018, California State University, Los Angeles. All rights reserved.</div>
        <div class="d-none d-md-block ">
            Icons made by
            <a href="https://www.flaticon.com/authors/twitter " title="Twitter ">Twitter</a> from
            <a href="https://www.flaticon.com/ " title="Flaticon ">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/ " title="Creative Commons BY 3.0" target="_blank ">CC 3.0 BY</a>
        </div>
    </footer>
</div>
